<a href="https://colab.research.google.com/github/masgior/teste-2-17.10/blob/master/masgior.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importação da biblioteca panda, utilizada para análise e tratamento de dados.

In [7]:
# importação da biblioteca panda, utilizada para análise e tratamento de dados.
import pandas as pd

salvando a url do meu github e uma variável chamada url.

In [2]:
url = 'https://raw.githubusercontent.com/masgior/teste-2-17.10/master/Dados/ExercicioAula.csv'

reaizando a leitura do arquivo csv presente no meu github.

In [5]:
df

                         Nome da pessoa  ...  Tipo Sanguíneo da Pessoa
0              Marli Juliana Nascimento  ...                       AB+
1         Gabriela Alana Mariah Drumond  ...                        B+
2                  Cauã Renato Silveira  ...                        B-
3     Benedito Sérgio Sebastião Cardoso  ...                       AB-
4          Flávia Isadora Lívia Moreira  ...                       AB-
...                                 ...  ...                       ...
1595                Gustavo Luís Fogaça  ...                       AB+
1596      Sebastião Noah Anthony Castro  ...                        O-
1597                     Enzo Ruan Dias  ...                        O-
1598           Francisco Isaac Carvalho  ...                        B-
1599       Elias Caleb Leonardo da Mata  ...                       AB+

[1600 rows x 12 columns]

In [3]:
df = pd.read_csv(url, sep= ';')